* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #585A69;
  font-family: 'Montserrat', sans-serif;
}

.login-wrapper {
  width: 400px;
  margin: 180px auto 0;
  label {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
  }
  .form-input {
    position: relative;
    input {
      width: 100%;
      border-radius: 5px;
      height: 55px;
      outline: none;
      border: 3px solid #2F96EF;
      text-align: center;
      font-size: 18px;
      color: #585A69;
      font-weight: 700;
      padding: 0 35px;
    }
    .fa {
      position: absolute;
      right: 15px;
      top: calc(50% - 8px);
      cursor: pointer;
    }
  }
  .password-info {
    .progress-bar {
      height: 5px;
      background: #D0D6DC;
      .bg {
        display: block;
        height: 100%;
        transition: width 200ms linear;
        border-right: 4px solid #fff;
        &.weak {
          background: #FF4B47;
          width: 33.33%;
        }
        &.good {
          background: orange;
          width: 66.66%;
        }
        &.strong {
          background: green;
          width: 100%;
        }
      }
      & + div {
        text-align: right;
      }
    }
    div {
      display: inline-block;
      width: 50%;
      font-size: 12px;
      vertical-align: middle;
    }
  }
}